@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #202124;
  background-color: #7abf43;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #7abf43;
  color: #202124;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}
